{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
        <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    </head>
    <body>
        <header class="header">
            <h1>Meu Blog</h1>
            <nav>
                <a href="/">Início</a>
                <a href="/blog/">Blog</a>
                <a href="#">Sobre</a>
                <a href="#">Contato</a>
                </ul>
            </nav>
        </header>
        <main>
            <section class="posts">
                <h1>Lista de Posts</h1>
                <ul>
                    {% for post in posts %}
                        <li>
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.content }}</p>
                            <small>Criado em: {{ post.created_at }}</small>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </main>